
@{
    ViewData["Title"] = "后台用户列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="layui-larry-box">
    <div class="layui-tab">
        <blockquote class="layui-elem-quote news_search">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" id="searchStr" placeholder="请输入用户名或手机号码" class="layui-input">
                </div>
                <a class="layui-btn search_btn"><i class="layui-icon">&#xe615;</i>查询</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal newsAdd_btn"><i class="layui-icon">&#xe654;</i>添加用户</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger batchDel"><i class="layui-icon">&#xe640;</i>批量删除</a>
            </div>
        </blockquote>
        <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
    </div>
</section>

<script type="text/html" id="adminUserBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

@section Scripts{
    <script type="text/javascript">
        layui.use(["table", "layer"], function () {
            let table = layui.table;
            let layer = layui.layer;

            table.render({
                id: 'adminLayuiTable',
                elem: '#dataTable',
                height: "full-108",
                page: true,
                url: '/AdminUser/GetAdminUsers',
                cols: [[
                    { fixed: "left", type: "checkbox" },
                    { field: 'name', title: '用户名', align: 'center' },
                    { field: 'cityName', title: '所属城市', align: 'center' },
                    { field: 'phoneNum', title: '电话号码', align: 'center' },
                    { fixed: "right", align: 'center', toolbar: '#adminUserBar', title: '操作' }
                ]],
                response: {
                    statusName: 'statusCode',
                    statusCode: 200,
                    msgName: 'message'
                }
            });

            //监听工具条
            table.on('tool(dataTable)', function (obj) {
                let data = obj.data;
                if (obj.event === 'del') {
                    parent.layer.confirm('真的删除吗？', function (index) {
                        parent.layer.close(index);
                        $.ajax({
                            url: "/AdminUser/DeleteAdminUser",
                            type: "delete",
                            data: { id: data.id },
                            success: function (res) {
                                parent.layer.alert(res.message, {
                                    icon: 1,
                                    skin: 'layer-ext-moon'
                                });
                                obj.del();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                let responseText = JSON.parse(XMLHttpRequest.responseText);
                                parent.layer.alert(responseText.message, {
                                    icon: 2,
                                    skin: 'layer-ext-moon'
                                });
                            }
                        });
                    });
                }
                else if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        area: ['700px', '450px'],
                        maxmin: true,
                        content: '/AdminUser/EditAdminUser?id=' + data.id,
                        id: 'EditPermission',
                        title: '编辑用户'
                    });
                }
            });

            $(".newsAdd_btn").click(function () {
                layer.open({
                    type: 2,
                    area: ['700px', '450px'],
                    maxmin: true,
                    content: '/AdminUser/AddAdminUser',
                    id: 'AddPermission',
                    title: '添加用户'
                });
            });

            $(".batchDel").click(function () {
                let checkStatus = table.checkStatus('adminLayuiTable');
                console.log(checkStatus)
                let data = checkStatus.data;
                let idArr = [];
                for (var i = 0; i < data.length; i++) {
                    idArr.push(data[i].id);
                }

                $.ajax({
                    url: '/AdminUser/BatchDeleteAdminUsers',
                    type: 'delete',
                    data: { idStr: JSON.stringify(idArr) },
                    success: function (res) {
                        parent.layer.alert(res.message, {
                            icon: 1,
                            skin: 'layer-ext-moon'
                        });
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        let responseText = JSON.parse(XMLHttpRequest.responseText);
                        parent.layer.alert(responseText.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        });
                    }
                });
            });

            $(".search_btn").click(function () {
                table.reload('adminLayuiTable', {
                    page: {
                        curr: 1
                    },
                    where: {
                        searchStr: $("#searchStr").val()
                    }
                });
            });
        });
    </script>
}