@model Role
@{
    ViewData["Title"] = "编辑角色";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:20px;margin-right:20px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>权限项</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" method="put" id="roleEditFrom" action="/Role/EditRole">
        <input asp-for="Id" type="hidden" />
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input asp-for="Name" type="text" autocomplete="off" placeholder="请输入权限名称" class="layui-input" lay-verify="name">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">权限项</label>
            <div class="layui-input-block">
                @foreach (Permission per in Model.AllPermissions)
                {
                    <input type="checkbox" name="perIds" title="@per.Name" value="@per.Id" lay-skin="primary" checked="@Model.Permissions.Any(p => p.Id == per.Id)" />
                }
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submitBtn">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        layui.use(['form', 'layer'], function () {
            let layform = layui.form;
            layform.verify({
                name: function (value) {
                    if (value.length > 255) {
                        return '权限名称不得超过255个字符！';
                    }
                    if (value.length < 2) {
                        return '权限名称最少两个字符！';
                    }
                }
            });

            layform.on('submit(submitBtn)', function (data) {
                let params = $("#roleEditFrom").serialize();
                $.ajax({
                    type: "put",
                    url: "/Role/EditRole",
                    data: params,
                    success: function (res) {
                        parent.parent.layer.alert('编辑成功。', {
                            icon: 1,
                            skin: 'layer-ext-moon'
                        });

                        parent.location.reload();
                        let index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        let responseText = JSON.parse(XMLHttpRequest.responseText);
                        parent.parent.layer.alert(responseText.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        });
                    }
                });
                return false;
            });
        });
    </script>
}