
@{
    ViewData["Title"] = "角色列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="layui-breadcrumb">
    <i class="layui-icon">&#xe68e;</i>
    <a>首页</a>
    <a>权限管理</a>
    <a>
        <cite>角色管理</cite>
    </a>
</span>

<section class="layui-larry-box">
    <div class="layui-tab">
        <blockquote class="layui-elem-quote news_search">
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal newsAdd_btn"><i class="layui-icon">&#xe654;</i>添加角色</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger batchDel"><i class="layui-icon">&#xe640;</i>批量删除</a>
            </div>
        </blockquote>
        <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
    </div>
</section>

<script type="text/html" id="roleBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

@section Scripts{
    <script type="text/javascript">
        let json = JSON.parse('@Html.Raw(Model)');

        layui.use(["table", "layer"], function () {
            let table = layui.table;
            let layer = layui.layer;

            if (json.status != 200) {
                layer.open({
                    content: json.message,
                    offset: "auto",
                    btnAlign: "c"
                });
                return false;
            }

            table.render({
                elem: '#dataTable',
                height: "full-127",
                data: json.data,
                limit: json.data.length,
                cols: [[
                    { fixed: "left", type: "checkbox" },
                    { field: 'name', title: '角色名称', align: 'center' },
                    { fixed: "right", align: 'center', toolbar: '#roleBar', title: '操作' }
                ]]
            });

            //监听工具条
            table.on('tool(dataTable)', function (obj) {
                let data = obj.data;
                if (obj.event === 'del') {
                    parent.layer.confirm('真的删除吗？', function (index) {
                        parent.layer.close(index);
                        $.ajax({
                            url: "/Role/DeleteRole",
                            type: "DELETE",
                            data: { id: data.id },
                            success: function (res) {
                                parent.layer.alert(res.message, {
                                    icon: 1,
                                    skin: 'layer-ext-moon'
                                });
                                obj.del();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                let responseText = JSON.parse(XMLHttpRequest.responseText);
                                parent.layer.alert(responseText.message, {
                                    icon: 2,
                                    skin: 'layer-ext-moon'
                                });
                            }
                        });
                    });
                }
                else if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        area: ['700px', '450px'],
                        maxmin: true,
                        content: '/Role/EditRole?id=' + data.id,
                        id: 'EditRole',
                        title: '编辑权限项'
                    });
                }
            });

            $(".newsAdd_btn").click(function () {
                layer.open({
                    type: 2,
                    area: ['700px', '450px'],
                    maxmin: true,
                    content: '/Role/AddRole',
                    id: 'AddRole',
                    title: '添加权限项'
                });
            });

            $(".batchDel").click(function () {
                let checkStatus = table.checkStatus('dataTable');
                let data = checkStatus.data;
                let idArr = [];
                for (var i = 0; i < data.length; i++) {
                    idArr.push(data[i].id);
                }

                $.ajax({
                    url: '/Role/BatchDeleteRoles',
                    type: 'delete',
                    data: { idStr: JSON.stringify(idArr)},
                    success: function (res) {
                        parent.layer.alert(res.message, {
                            icon: 1,
                            skin: 'layer-ext-moon'
                        });
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        let responseText = JSON.parse(XMLHttpRequest.responseText);
                        parent.layer.alert(responseText.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        });
                    }
                })
            });
        });
    </script>
}