@model List<HousePictureList>
@{
    ViewData["Title"] = "PicListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://aspnetweb.b0.upaiyun.com/static/rentalsite/admin/static/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" />
<form></form>