<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>500错误页面</title>
    <link href="http://danye0165-html1.demo.smallseashell.com/css/pintuer.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style=" margin-top:8%;">
        <div class="panel margin-big-top">
            <div class="text-center">
                <br>
                <h2 class="padding-top"> <stong>500错误！抱歉服务器出错</stong> </h2>
                <div class="">
                    <div class="float-left">
                        <img src="http://www.pintuer.com/images/ds-1.gif">
                        <div class="alert"> 啊额，服务器开小差了... </div>
                    </div>
                    <div class="float-right">
                        <img src="http://www.pintuer.com/images/ds-2.png" width="260">
                    </div>
                </div>
                <div class="padding-big"></div>
            </div>
        </div>
    </div>
</body>
</html>
