<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>租客</title>
    <link href="/layui/css/layui.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/build/css/app.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-layout layui-layout-admin kit-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">租客后台管理</div>
            <div class="layui-logo kit-logo-mobile">租客</div>
            <ul class="layui-nav layui-layout-right kit-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img"> Van
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">基本资料</a></dd>
                        <dd><a href="javascript:;">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a>
                        <i class="fa fa-sign-out" aria-hidden="true"></i> 注销
                    </a>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black kit-side">
            <div class="layui-side-scroll">
                <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar>
                    <li class="layui-nav-item">
                        <a>
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            <span> 权限管理</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a data-url="/Permission/ListPermissions" data-icon="fa-lock" data-title="权限项管理" kit-target data-id="1">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <span> 权限项管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a data-url="/Role/ListRoles" data-icon="fa-user-circle" data-title="角色管理" kit-target data-id="2">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    <span> 角色管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a data-url="/AdminUser/ListAdminUsers" data-icon="fa-user" data-title="操作员管理" kit-target data-id="3">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span> 操作员管理</span>
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span> 房源管理</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a data-url="/AdminUser/ListAdminUsers" data-icon="fa-user" data-title="整租" kit-target data-id="4">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span> 整租</span>
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" id="container">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">主体内容加载中,请稍等...</div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            2018 &copy;租客/MIT license
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>if (typeof module === 'object') { window.jQuery = window.$ = module.exports; };</script>
    <script src="/layui/layui.js"></script>
    <script>
        var message;
        layui.config({
            base: '/build/js/'
        }).use(['app', 'message'], function () {
            var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
            //主入口
            app.set({
                type: 'iframe'
            }).init();
        });
    </script>
</body>
</html>