<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>租客</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">租客后台管理</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a>
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">基本资料</a>
                        </dd>
                        <dd>
                            <a href="">安全设置</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a>退出</a>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="menuGroup">权限管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a data-type="tabAdd" data-url="/Permission/ListPermissions" data-id="listPermissions">权限项管理</a>
                            </dd>
                            <dd>
                                <a>角色管理</a>
                            </dd>
                            <dd>
                                <a>操作员管理</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="menuGroup">房源管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a>整租</a>
                            </dd>
                            <dd>
                                <a>合租</a>
                            </dd>
                            <dd>
                                <a>房屋预约</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 选项卡 -->
            <div class="layui-tab" lay-filter="tabDiv" lay-allowclose="true">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content"></div>
            </div>
        </div>
    </div>
    <script src="~/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('element', function () {
            let $ = layui.jquery, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
            let active = {
                tabAdd: function (name, id, url) {
                    //新增一个Tab项
                    element.tabAdd('tabDiv', {
                        title: name,
                        content: '<iframe data-frameid="' + id + '" frameborder="0" name="content" scrolling="no" height="100%" width="100%" src="' + url + '"></iframe>',
                        id: id
                    });
                },
                tabChange: function (id) {
                    //切换到指定Tab项
                    element.tabChange('tabDiv', id); //切换到：用户管理
                    $("iframe[data-frameid='" + id + "']").attr("src", $("iframe[data-frameid='" + id + "']").attr("src"))//切换后刷新框架
                },
                tabDelete: function (id) {
                    element.tabDelete("tabDiv", id);//删除
                },
                tabDeleteAll: function (ids) {
                    //删除所有
                    $.each(ids, function (i, item) {
                        element.tabDelete("tabDiv", item);
                    });
                }
            };

            //结合菜单展示内容
            $(".layui-side-scroll a[class!=menuGroup]").click(function () {
                let dataid = $(this);
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    active.tabAdd(dataid.text(), dataid.attr("data-id"), dataid.attr("data-url"));
                }
                else {
                    let isData = false;
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                            isData = true;
                        }
                    });

                    if (isData == false) {
                        active.tabAdd(dataid.text(), dataid.attr("data-id"), dataid.attr("data-url"));
                    }
                }
                active.tabChange(dataid.attr("data-id"));
            });
        });
    </script>
</body>
</html>
