<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登陆</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/common/login.css" rel="stylesheet" />
</head>
<body>
    <video class="video-player" preload="auto" autoplay="autoplay" loop="loop" style="width:100%;">
        <source src="~/common/login.mp4" type="video/mp4">
        <!-- 此视频文件为支付宝所有，在此仅供样式参考，如用到商业用途，请自行更换为其他视频或图片，否则造成的任何问题使用者本人承担，谢谢 -->
    </video>
    <div class="video_mask"></div>
    <div class="login">
        <h1>租客后台登录</h1>
        <form class="layui-form" method="post" asp-controller="Home" asp-action="Login">
            <div class="layui-form-item">
                <input class="layui-input" name="phoneNum" placeholder="手机号码" lay-verify="required" type="text" autocomplete="off">
            </div>
            <div class="layui-form-item">
                <input class="layui-input" name="password" placeholder="密码" lay-verify="required" type="password" autocomplete="off">
            </div>
            @*<div class="layui-form-item form_code">
                <input class="layui-input" name="validatecode" placeholder="验证码" lay-verify="required" type="text" autocomplete="off">
                <div class="code">
                    <img src="http://www.17sucai.com/preview/305986/2017-08-10/layuiCMS-master/images/code.jpg" width="116" height="36">
                </div>
            </div>*@
            <button class="layui-btn login_btn" lay-submit="" lay-filter="login">登录</button>
        </form>
    </div>
    <script src="~/layui/layui.js"></script>
    <script type="text/javascript">
        layui.config({
            base: '/build/js/'
        }).use(['form', 'layer'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery;

            //表单监控
            form.on("submit(login)", function (data) {
                $.ajax({
                    url: "/Home/Login",
                    type: "post",
                    data: data.field,
                    success: function (res) {
                        window.location.href = "/Home/Index";
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        let responseText = JSON.parse(XMLHttpRequest.responseText);
                        layer.alert(responseText.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        });
                    }
                });

                return false;
            });
        });
    </script>
</body>
</html>